

<div class="jumbotron jumbotron-fluid">
  <div class="container">
     <h1>Blurgers: The Burger Logger</h1>
     {{!-- <p>Your Burger Logger</p> --}}
  </div>
 

</div>

<div class="hero"></div>
{{!-- <img src="/burger/public/assets/img/burger.jpg" alt="hamburger"> --}}
{{!-- <img src="/assets/img/burger.jpg" alt="hamburger"> --}}

<div class="container">
  <div class="row">
    <div class="col-sm">

      <div class="card" >
        <div class="card-header">
          <h2>Devourered Blurgers</h2>
        </div>
      </div>
      
        <ul class="list-group list-group-flush">
          {{#each burgers}}
            {{#if devoured}}
              <li class="list-group-item">{{this.id}} {{this.burger_name}}</li> 
            {{/if}}
          {{/each}}
        </ul>
    </div>

    <div class="col-sm">

            <div class="card">
        <div class="card-header">
          <h2>Undevourered Blurgers</h2>
        </div>
      </div>

        <ul class="list-group list-group-flush">
          {{#each burgers}}
            {{#unless devoured}}
            
              <li class="list-group-item">{{this.id}} {{this.burger_name}}
              <button type="button" class="devour btn btn-warning" id="devourButton" data-id="{{this.id}}" data-isDevoured="{{this.devoured}}">Devour Me!</button>
            </li> 

            {{/unless}}
          {{/each}}
        </ul>
    </div>

  </div>
</div>

<div id="insert-card">
  <h3>Add a Burger to be Logged</h3>
<form 
{{!-- class="create-form" --}}
>

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="insertBurger" name="burger_name">
  
  </div>
  
  
</div>

</form>
<button class="btn btn-success create-form once" type="click">Blurger It</button>