


<h2>Blurgers: Your Burger Logger</h2>
<img src="/burger/public/assets/img/burger.jpg" alt="hamburger">
<h2>Undevourered burgers</h2>
<ul>
  {{#each blurgers}}
    {{#if devoured}}
      <li>{{id}} {{burger_name}}</li> 
    {{/if}}
  {{/each}}
</ul>
<h2>Devoured burgers</h2>
<ul>
  {{#each blurgers}}
    {{#unless devoured}}
    <div>
      <li>{{id}} {{burger_name}}</li> 
      <button class="devour" data-id="{{this.id}}" data-isDevoured="{{this.devoured}}">Devour Me!</button>
    </div>

    {{/unless}}
  {{/each}}
</ul>

<h2>Add a Burger to be Logged</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="insertBurger" name="burger_name">
  </div>

  <button type="submit">Blurger It</button>
</form>